* @Kong/team-core-ui

# =========================================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry

# Root
/yarn.lock @kongponents-bot @Kong/team-core-ui
/package.json @kongponents-bot @Kong/team-core-ui
