VUE_APP_AUTH_URL=http://localhost:8080
# The base path for the KAuth API AxiosInstance class wrapper. Can be an absolute path e.g. '/kauth' or a full URL e.g. 'https://api.konnect.konghq.tech/api/kauth'
VUE_APP_KAUTH_API_BASE_URL="/kauth"
