{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "css",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "printWidth": 160
}
