// REGISTER
.kong-auth-register-form {
  .register-submit {
    --KButtonPrimaryBase: var(--green-400);

    &:hover:not(:disabled) {
      background-color: var(--green-300) !important;
    }
  }

    .register-form {
      .geo-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
      }

      .geo-description {
        margin-top: -14px;
        color: var(--grey-500);
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }

      .kong-auth-register-geolocation .k-select {
        width: 100% !important;
  
        .k-select-input {
          width: 100% !important;
          height: 44px !important;
        }
      }
    }
}

.password-strength-meter {
  max-width: none;
}

// LOGIN
.kong-auth-login-form {
  .basic-auth-link {
    font-size: 14px;
  }

  .idp-loading {
    justify-content: center;
  }
}

.text-center {
  text-align: center;
}

.kong-auth-forgot-password-form {
  .k-alert.info .k-alert-msg {
    line-height: 1.3;
  }
}

.kong-auth-accept-invitation-form {
  .accept-invitation-subheader {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
  }
}

// ERROR MESSAGE
.kong-auth-error-message.error-message {
  .k-alert-msg-text .k-alert-msg {
    line-height: 24px;

    p,
    ul {
      line-height: 24px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    p + ul {
      margin-top: 10px;
    }

    li {
      list-style-type: disc;
    }
  }
}

// Spinner icon
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.kong-icon.kong-icon-spinner svg g {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  animation: spin 1.2s infinite linear;
}

.kong-auth-element-form-divider {
  display: flex;
  color: var(--KInputLabelColor, var(--black-85, rgba(0, 0, 0, 0.85)));
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
  font-size: var(--type-md, 16px);

  &:before,
  &:after {
    content: "";
    flex: 1;
    height: 1px;
    margin: 0;
    background: var(--KInputLabelColor, var(--black-85, rgba(0, 0, 0, 0.85)));
  }

  &:before {
    margin-right: 12px;
  }

  &:after {
    margin-left: 12px;
  }
}

a {
  color: var(--blue-500);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:visited {
    color: var(--blue-500);
  }
}

@import "./password-strength-meter";
