// REGISTER
.kong-auth-register-form {
  .register-form {
    .region-description {
      color: var(--grey-500);
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      margin-top: -6px;
    }

    .kong-auth-register-region .k-select {
      width: 100% !important;

      .k-select-input {
        height: 44px !important;
        width: 100% !important;
      }
    }
  }
}

// LOGIN
.kong-auth-login-form {
  .basic-auth-link {
    font-size: 14px;
  }

  .idp-loading {
    justify-content: center;
  }

  // Detect if the email and password fields have been auto-filled
  // If autofilled, add an animation name to detect with JavaScript in LoginForm.vue
  #email,
  #password {
    &:-webkit-autofill,
    &:autofill {
      animation-name: onAutofillStart;
    }

    &:not(:-webkit-autofill),
    &:not(:autofill) {
      animation-name: onAutofillCancel;
    }
  }

  /* stylelint-disable */
  @keyframes onAutofillStart {
  }
  @keyframes onAutofillCancel {
  }
  /* stylelint-enable */
}

// CHANGE PASSWORD
.kong-auth-change-password-form {
  .action-buttons {
    display: flex;
    justify-content: end;
  }
}

.text-center {
  text-align: center;
}

.kong-auth-forgot-password-form {
  .k-alert.info .k-alert-msg {
    line-height: 1.3;
  }
}

.kong-auth-accept-invitation-form {
  .accept-invitation-subheader {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
  }
}

// ERROR MESSAGE
.kong-auth-error-message.error-message {
  .k-alert-msg-text .k-alert-msg {
    line-height: 24px;

    p,
    ul {
      line-height: 24px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    p + ul {
      margin-top: 10px;
    }

    li {
      list-style-type: disc;
    }
  }
}

// Spinner icon
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.kong-icon.kong-icon-spinner svg g {
  animation: spin 1.2s infinite linear;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.kong-auth-element-form-divider {
  align-items: center;
  color: var(--KInputLabelColor, var(--black-85, rgba(0, 0, 0, 0.85)));
  display: flex;
  flex-direction: row;
  font-size: var(--type-md, 16px);
  justify-content: center;
  margin: 24px auto;

  &:before,
  &:after {
    background: var(--KInputLabelColor, var(--black-85, rgba(0, 0, 0, 0.85)));
    content: "";
    flex: 1;
    height: 1px;
    margin: 0;
  }

  &:before {
    margin-right: 12px;
  }

  &:after {
    margin-left: 12px;
  }
}

a {
  color: var(--blue-500);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:visited {
    color: var(--blue-500);
  }
}

input.hidden-input {
  display: none !important;
}
