/* Form Wrapper & Base Styles
========================================================================== */
.form-container {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    flex: 0 0 70%;
    max-width: 70%;
  }
  @media (max-width: 860px) {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  label {
    width: 100%;

    .k-input[type="text"] {
      width: 100%;
      margin-top: 0.5rem;
    }
  }
}

.vue-form-generator {
  .form-group {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 2rem;
    }
    &.hide-label > label {
      display: none;
    }
    label {
      font-weight: 500;
    }
  }

  .field-advanced {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;

    .form-group:last-child {
      margin-bottom: 1rem;
    }
  }

  .k-input[type="text"] {
    width: 100%;
  }
}

/* inputs & labels
========================================================================== */
.form-control {
  width: 100%;
  &:required {
    border-color: var(--KInputBorder, var(--grey-300));
  }
}

select.form-control,
[type="select"].form-control {
  height: calc(2.25rem + 2px);
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: var(--black-85);
  margin: 0px 0px 8px 0px;
  width: 100%;
  small {
    float: right;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
  }

  & input[type="radio"] {
    display: inline-flex;
  }
}

.form-group.required > label:after {
  display: none;
}

.form-group.optional > label,
.form-group.semi-optional > label {
  position: relative;
  width: 100%;
  &:after {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
  }
}

.form-group.optional > label:after {
  content: "Optional";
}

.form-group.semi-optional > label:after {
  content: "Semi-Optional";
}

.vue-form-generator span.help {
  .icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+ICA8cGF0aCBmaWxsPSIjMDA4NkU2IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02IDExYy0yLjc2MSAwLTUtMi4yMzktNS01czIuMjM5LTUgNS01IDUgMi4yMzkgNSA1LTIuMjM5IDUtNSA1TTYgMEMyLjY4NiAwIDAgMi42ODYgMCA2czIuNjg2IDYgNiA2IDYtMi42ODYgNi02LTIuNjg2LTYtNi02bTAgM2MtMS4xMDUgMC0yIC44OTUtMiAyaDFjMC0uNTUyLjQ0OC0xIDEtMXMxIC40NDggMSAxLS40NDggMS0xIDEtMSAuNDQ4LTEgMWgxYzEuMTA1IDAgMi0uODk1IDItMnMtLjg5NS0yLTItMnpNNSA5aDJWOEg1djF6Ii8+PC9zdmc+);
    width: 0.75rem;
    height: 0.75rem;
  }
  .helpText {
    left: -108px;
    width: 224px;
    padding: 0.5rem 0.75rem;
    color: rgba(0, 0, 0, 0.75);
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
    z-index: 900;
    &:before,
    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      height: 0;
      width: 0;
      border: solid transparent;
      pointer-events: none;
      content: " ";
    }
    &:before {
      border-top-color: #d6d6d6;
      border-width: 13px;
      margin-left: -13px;
    }
    &:after {
      border-top-color: #fff;
      border-width: 12px;
      margin-left: -12px;
    }
  }
}

.hint {
  font-size: small;
  margin-top: 5px;
  margin-bottom: 10px;
  opacity: 0.6;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  input {
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .input-group-addon {
    margin-left: -1px;
    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

input[type="search"].borderless {
  --KInputBorder: transparent;
  --KInputFocus: transparent;
}

/* Selection Group (radio select field group)
========================================================================== */
.option-field {
  padding-left: 1.5rem;
  width: 100%;
  .form-group:last-child {
    margin-bottom: 0;
  }
}

/* Radios
========================================================================== */
.form-group input[type="radio"] {
  @extend .k-input;
  margin-right: 0.5rem;
}

/* Checkboxes
========================================================================== */
.field-checkbox,
.form-group input[type="checkbox"] {
  // Use Kong Styles from imported stylesheets
  @extend .k-input;
}

.form-group.required input[type="checkbox"],
.form-group [required="required"] {
  box-shadow: none;
}

/* Toggle Switch
========================================================================== */
.vue-form-generator .field-switch {
  .field-wrap {
    input[type="checkbox"] {
      position: absolute;
      &:checked ~ .label {
        background-color: var(--blue-500);
        box-shadow: none;
      }
      &:checked ~ .handle {
        left: calc(100% - 22px);
      }
    }
    label {
      width: 44px;
      height: 24px;
      margin: 0;
      box-shadow: none;
    }
  }
  .label {
    background-color: var(--grey-200);
    box-shadow: none;
    &:before,
    &:after {
      color: var(--black-70);
      text-shadow: none;
      margin-left: 42px;
      font-size: 14px;
      left: 18px;
      font-weight: normal;
      text-transform: none;
      width: max-content;
    }
  }
  .handle {
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    box-shadow: none;
    &:before {
      background: none;
      box-shadow: none;
    }
  }
}

/*  Button overrides
========================================================================== */
.k-button[type="button"] {
  -webkit-appearance: unset;
  background: transparent;
}
