/*! KONG_AUTH_INJECT_STYLES */

// Import Kongponents styles
@import "../../../node_modules/@kong/kongponents/dist/style.css";

.kong-auth-element {
  @import "./elements";

  font-family: var(--font-family-sans);
  font-weight: var(--KongAuthFontWeight, 400);
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
