/*! KONG_AUTH_INJECT_STYLES */

@use "sass:meta";
// Import Kong Design Tokens - has to be done here afer `sass:meta`
@import "@kong/design-tokens/tokens/scss/variables";

.kong-auth-element {
  // Import Kongponents styles
  @include meta.load-css("@kong/kongponents/dist/style.css");
  // Import kong-auth-element styles
  @include meta.load-css("./elements");
  // Additional CSS rules
  font-family: var(--kui-font-family-text, $kui-font-family-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--kui-font-weight-regular, $kui-font-weight-regular);
  position: relative;
}
