/* No data state */

.no-data {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Chart tooltip */

.chart-tooltip {
  position: absolute;
  font-size: 8px;
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 2px;
  z-index: 1;
  padding: 2px;
  list-style: none;
  margin-bottom: 0px
}

.chart-tooltip li:not(:last-child) {
  border-bottom: 1px solid rgba(230, 230, 230, 1.0);
}

.tooltip-key {
  border-radius: 2px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
}

.tooltip-data {
  font-family: 'Roboto Mono', monospace;
}

/* Timeframe picker */
.timeframe-label {
  font-size: 13px;
}

.time-frame-select {
  width: auto;
}

@media (max-width: 576px) {

  .time-frame-picker {
    text-align: right;
  }

  .utc-picker {
    line-height: 1.5;
    margin-right: 0 !important;
  }
}

.time-frame-select, .time-frame-select:focus {
  background-color: rgba(245, 245, 245, 1.0);
}
.utc-button {
  background-color: rgba(245, 245, 245, 1.0);
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.15)
}

.utc-button:focus {
  border-color: #5cb3fd;
  outline: none;
}

.utc-button.disabled, .utc-button:disabled {
  opacity: 1;
  cursor: not-allowed;
}

 .utc-button.disabled label, .utc-button:disabled label {
   cursor: not-allowed;
 }

.utc-picker {
  color: #464a4c;
  height: 2.25rem;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  margin: 0px;
}
