name: Verify PR does not utilize package previews
on:
  pull_request:
    branches:
      - main

jobs:
  check-packages:
    name: No PR preview packages
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: No PR preview references
        uses: Kong/public-shared-actions/pr-previews/validate@main
