name: Publish

on:
  push:
    branches:
      - main
      - alpha
      - beta

  pull_request:
    branches:
      - main
      - alpha
      - beta

permissions:
  id-token: write
  contents: read
  actions: read


jobs:
  run-tests:
    name: Tests
    uses: ./.github/workflows/test.yaml
    secrets:
      VITE_AUTH_URL: ${{ secrets.VITE_AUTH_URL }}
  publish:
    needs: run-tests
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Remove preview consumption comment
        if: github.event_name == 'pull_request'
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        with:
          header: pr_preview_consumption
          delete: true
          GITHUB_TOKEN: ${{ secrets.KONGPONENTS_BOT_PAT }}

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ secrets.KONGPONENTS_BOT_PAT }}
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          registry-url: https://registry.npmjs.org
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Publish package preview
        id: package-preview
        # Do not run for `alpha` or `beta` branches
        if: github.event_name == 'pull_request' && github.actor != 'renovate[bot]' && !contains(github.head_ref || github.ref_name, 'alpha') && !contains(github.head_ref || github.ref_name, 'beta')
        env:
          GITHUB_TOKEN: ${{ secrets.KONGPONENTS_BOT_PAT }}
        run: |
          git config user.email "konnectx-engineers+kongponents-bot@konghq.com"
          git config user.name "Kong UI Bot"

          preid="pr.${{ github.event.pull_request.number }}.$(git rev-parse --short ${{ github.event.pull_request.head.sha }})"
          tag="pr-${{ github.event.pull_request.number }}"
          echo "preid=${preid}"

          git checkout ${{ github.head_ref }}

          yarn version --prerelease --preid ${preid} --allow-branch ${{ github.head_ref }} --no-git-tag-version --yes --amend

          package_version=$(jq -r ".version" package.json)
          package=@kong/kong-auth-elements@"${package_version}"

          npm show "${package}" >/dev/null 2>&1 && npm_show_status=0 || npm_show_status=1
          if [ $npm_show_status -eq 0 ]; then
            echo "Package ${package} is already published. Skipping publishing."
            exit 0
          fi

          npm_instructions=""

          pkg=$(npm publish --no-git-checks --access public --report-summary --tag "${tag}" | grep "+ "| sed 's/+ //')

          if [[ -z "${pkg}" ]]; then
            echo "Error publishing package"
            exit -1
          fi

          npm_instructions="@$(echo ${pkg}|cut -d'@' -f2)@${tag}"

          echo "npm_instructions<<EOF" >> $GITHUB_OUTPUT
          echo -e "$npm_instructions" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Provide preview link info
        if: ${{ steps.package-preview.outputs.npm_instructions != '' }}
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        with:
          header: pr_preview_consumption
          message: |
             ### Install the preview package from this PR in your consuming application

             In your host project, you may install the preview package version generated by this PR:

             ```sh
             ${{ steps.package-preview.outputs.npm_instructions }}
             ```
          GITHUB_TOKEN: ${{ secrets.KONGPONENTS_BOT_PAT }}

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90 # v6.0.0
        if: github.event_name == 'push'
        env:
          # Since branch protections are on (pushing commits) you need to use a bot PAT
          GITHUB_TOKEN: ${{ secrets.KONGPONENTS_BOT_PAT }}
